.tomc-front-posts--delete{
    background-color: #893e43;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 10px;
}
#tomc-front-post__permanently-delete-button{
    background-color: #893e43;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}
.tomc-front-posts--edit{
    background-color: #e44e2d;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 10px;
}
.tomc-front-posts--save-button{
    background-color: #0c6980;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 40px auto 10px auto;
}
#tomc-front-post__edit-post-overlay .overlay-main-container{
    max-width: 1000px;
    width: 90%;
}
#edit-blog--title{
    max-width: 500px;
    width: 95%;
    margin: 10px 0px 30px 0px;
    padding: 10px;
}
label[for="edit-blog--content"]{
    margin-bottom: -60px;
}
#edit-blog--content_ifr{
    width: 95% !important;
    min-height: 200px;
    margin: 10px 0px 30px 0px;
    border-radius: 10px;
    padding: 10px;
    resize: vertical;
}
#tomc-front-post__permanent-deletion-warning-message{
    margin-top: 80px;
}