.tomc-front-posts--delete{
    background-color: #893e43;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 10px;
}
#tomc-front-post__permanently-delete-button{
    background-color: #893e43;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}
.tomc-front-posts--unpublish{
    background-color: #602f32;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 10px;
}
.tomc-front-posts--publish{
    background-color: #4c0548;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 10px;
}
.tomc-front-posts--edit{
    background-color: #e44e2d;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 10px;
}
.tomc-front-posts--save-button{
    background-color: #0c6980;
    color: white;
    font-size: 16;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 40px auto 10px auto;
}
#tomc-front-post__edit-post-overlay .overlay-main-container{
    max-width: 1000px;
    width: 90%;
}
#edit-blog--title{
    max-width: 500px;
    width: 95%;
    margin: 10px 0px 30px 0px;
    padding: 10px;
}
label[for="edit-blog--content"]{
    margin-bottom: -60px;
}
#edit-blog--content_ifr{
    width: 95% !important;
    min-height: 200px;
    margin: 10px 0px 30px 0px;
    border-radius: 10px;
    padding: 10px;
    resize: vertical;
}
#tomc-front-post__permanent-deletion-warning-message{
    margin-top: 80px;
}
.purple-heading-closed{
    background-color: #4c0548;
    color: white;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    width: 90%;
    text-align: center;
    z-index: 800;
    position: relative;
}
.purple-heading-open{
    background: white;
    border: solid #4c0548 5px;
    color: #4c0548;
    font-size: 16;
    border-radius: 45px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    width: 90%;
    text-align: center;
    z-index: 800;
    position: relative;
}
div.mce-inline-toolbar-grp.mce-arrow-left:before, div.mce-inline-toolbar-grp.mce-arrow-up:after{    
    border-color: #f4eee8 !important;
}
.mce-toolbar-grp .mce-container-body{
    background: #f4eee8 !important;
    width: fit-content !important;
}
.wp-link-input input{
    width: 250px !important;
    border: solid black 2px !important;
}